body{
	width: $bodyWidth;
	margin: 0 auto;
	font-family: "helvetica neue", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0 0 40px;
	background: url('../images/background.png') repeat repeat;
	overflow-y: scroll;
}

h1{
	font-weight: bold;
	margin: 24px 0 6px;
	color: $other;
	padding: 4px 8px;
	a {
		color: $lightGrey;
	}
}

#description {
	font-size: 13px;

}


#sliderjq {
	margin-top: 20px;
	background: $light_blue;
	border: 1px solid $blue;
	border-radius: 6px;
	height: 8px;
	position: relative;
	text-align: left;
	a{
		background: $blue;
		border: 1px solid $dark_blue;
		border-radius: 10px;
		width: 1.2em;
		height: 1.2em;
		position: absolute;
		top: -7px;
		// margin-left: -.6em;

		&:hover {
			background: $dark_blue;
		}
	}
}


li {
	color: $default;
}

#content {
	display: none;
}

#loader {
	width: 150px;
	font-size: 20px;
	color: #fff;
	background: #000;
	text-align: center;
	padding: 30px;
	border: 1px solid #000;
	border-radius: 12px;
	position: absolute;
	top: 400px;
	z-index: 99;
	left: 50%;
	margin: -20px 0 0 -85px;
	// margin: 0 auto;

}
.yellow {color: $yellow; }
.other {color: $other; }

.blue {color: $blue;}
.dark_blue {color: $dark_blue;}
.dark_blue_bg {background: $dark_blue;}

.purple {color: $purple}

.red {color: $red;}
.dark_red {color: $dark_red;}
.dark_red_bg {background: $dark_red;}
