body{
	margin: 0 auto;
	font-family: "helvetica neue", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0 0 40px;
	background: url('../images/background.png') repeat repeat;
}

h1{
	font-weight: bold;
	margin: 24px 0 6px;
	color: $other;
	padding: 4px 8px;
	a {
		color: $lightGrey;
	}
}

#next {
	float: right;
}

#sliderjq {
	margin-top: 20px;
	background: $light_blue;
	border: 1px solid $blue;
	border-radius: 6px;
	height: .8em;
	position: relative;
	text-align: left;
	a{
		background: $blue;
		border: 1px solid $dark_blue;
		border-radius: 6px;
		width: 1.2em;
		height: 1.2em;
		position: absolute;
		top: -.3em;

		&:hover {
			background: $dark_blue;
		}
	}
}

.playback {
	ul {
		margin: 0 auto;
		width: 52%;
		color: #fff;
	}
}

li {
	color: $default;
}

#content {
	display: none;
}
.yellow {color: $yellow; }
.other {color: $other; }

.blue {color: $blue;}
.dark_blue {color: $dark_blue;}
.dark_blue_bg {background: $dark_blue;}

.purple {color: $purple}

.red {color: $red;}
.dark_red {color: $dark_red;}
.dark_red_bg {background: $dark_red;}
