.noUiSlider {
	width: 100%;
	border: 1px solid #CCC;
	height: 8px;
	background: $default;
	border-radius: 8px;
	-webkit-touch-callout: none;
	margin: 15px auto 0;

	.noUi-midBar {
		height: 100%;
		z-index: 0;
		background: $blue;
		-webkit-touch-callout:	none;
	}

	.noUi-handle > div {
		position: absolute;
		width: 16px;
		height: 16px;
		top: -5px;
		left: -8px;
		z-index:  5;
		border: 1px solid $dark_blue;
		background: $blue;
		border-radius: 8px;
	}

	.noUi-handle > div:hover,
	.noUi-handle > div.noUi-activeHandle {
		background: $dark_blue;
		border-color: $dark_blue;
	}

	.disabled > .noUi-midBar {
		background: #999;
	}

	.disabled .noUi-handle > div {
		border-color: #CCC;
		background: #CCC;
	}
}
@media (-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){
	.noUi-handle > div {
		height: 32px;
		width: 32px;
		top: -13px;
		left: -16px;
	}
}