/*modified yahoo reset http://developer.yahoo.com/yui/reset/*/

body,div,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p {
	margin:0;
	padding:0;
}

fieldset,img {
	border:0;
}

ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

/*end reset*/

body{
	width:300px;
	margin:0 auto;
	font-family:"helvetica neue",arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	padding:0 0 40px;

}

h1{
	font-size:24px;
	font-weight:bold;
	margin:24px 0 6px;
	color:#9d9d9d;
}